<div class="row">
    <div class="col-sm-12">
        <div class="well bs-component">
            <fieldset>
                <div class="form-group">
                    <label for="firstSelect" class="col-lg-2 control-label">From:</label>
                    <div class="col-lg-10" ng-class="{hidden: enable}">
                        <select name="firstSelect" class="form-control" id="firstSelect" ng-change="change()" ng-model="firstCurrency">
                    <option ng-repeat="cur in currencies" ng-value="cur">{{cur.currency}}</option>
                     </select>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
</div>
<!--
<div fusioncharts width="100%" height="400" type="line" dataSource="{{dataSource}}">
</div>-->

<div id="chart_div"></div>

<!--<canvas id="line" class="chart chart-line" chart-data="data" chart-labels="labels" chart-series="series" chart-options="options" chart-dataset-override="datasetOverride" chart-click="onClick">
</canvas-->